<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Functional Testing library for Single Page JavaScript Applications">
    <meta name="author" content="var nerd">
    <link href="favicon.ico" rel="shortcut icon" />

    <title>flythru.js - functional testing kit</title>

    <link href="assets/google-code-prettify/prettify.css" rel="stylesheet">
    <style>

    </style>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	  <link href="css/site.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand flythruimg flythrulogo" href="./"><span style="display:none">flythru.js</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="#demo" class="scroll-to">Demo</a></li>
            <li><a href="#getting_started"  class="scroll-to">Getting Started</a></li>
            <li><a href="#api"  class="scroll-to">API</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-inverse">
      <div class="container" style="text-align: center;">
        <h1>flythru.js</h1>
        <p>Functional testing kit for single page javascript applications.</p>
        <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_github" role="button">GitHub</button> <a class="btn btn-primary btn-lg" href="#" role="button">Download</a></p>
      </div>
    </div>
    <!-- container -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>UI Smart</h2>
          <p>Easily write pass/fail tests based on the DOM elements in your single page application. Mimic your users interactions in each test step using your favorite javascript libraries and watch them play out live when they run.</p>
        </div>
        <div class="col-md-4">
          <h2>Drop-In-Ready</h2>
          <p>FlyThru JS is a drop in directory containing all the necessary files to start writing tests and witnessing results immediatley.</p>
       </div>
        <div class="col-md-4" >
          <h2>Simple Syntax</h2>
          <p>Functional testing should not be difficult. Create a test, add steps, wait for elements to appear and simply pass or fail them. Easy as that!</p>
        </div>
      </div>
		  <hr>
      <!-- getting started -->
      <article class="row">
      	<div class="col-sm-6">
      		<h1 id="getting_started">Getting Started</h1>
      		<ol>
      			<li>Download flythru.js kit</li>
      			<li>Drop the /flythru folder into your root directory of a dev or test environment</li>
      			<li>Set the destination to load the entry file using flythru.destination(&quot;../your-index.html&quot;)</li>
      			<li>Browse to /flythru/index.html and the tester will load the page</li>
      		</ol>
      	</div>
      	<div class="col-sm-6">
      		<h2>Kit Directory Structure</h2>
      		<pre>
    /flythru
      index.html
      /assets
        flythru.min.css
        flythru.min.js</pre>
      	</div>
      </article>
      <!-- /getting started -->
      <hr>
      <!-- demo -->
      <article id="demo" class="row">
         <div  class="col-sm-12" style="padding-bottom: 15px;">
            <h1>Watch it fly!</h1>
            <p class="hidden-xs">Below is an example of a basic single page AngularJS application.</p>
            <p class="visible-xs">Switch to a wider screen to see the demo in action!</p>

            <div class="row hidden-xs">
              <div class="col-sm-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-inverse" role="tablist">
                  <li role="presentation" class="active"><a href="#demo_output" aria-controls="demo_output" role="tab" data-toggle="tab">Demo</a></li>
                  <li role="presentation"><a href="#demo_js" aria-controls="demo_js" role="tab" data-toggle="tab">Full Test Script</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <!-- tab 1 -->
                  <div role="tabpanel" class="tab-pane active" id="demo_output">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 style="padding: 10px;">Press the "Take Off" button</h4>
                        <iframe src="examples/1_fakesite/flythru/" style="border: 4px solid #fff; width: 100%; height: 600px;"></iframe>
                      </div>
                    </div>
                  </div>
                  <!-- tab 2 -->
                  <div role="tabpanel" class="tab-pane" id="demo_js">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 style="padding: 10px;">Full example</h4>
                        <div style="max-height: 600px;  overflow-x: auto">
                          <pre class="prettyprint lang-js" style="white-space: none;"><code>
        // configuration (set viewport size, pace)
        // optional
        flythru.config({
           viewport:{
               w: 320, h: 568
           }
        });
        // set your website page
        // mandatory prior to adding tests!
        flythru.destination("../index.html");

        // First test aka Flight!
        // each Flight has stops and layovers
        // inside stops and layovers are pass, fail and cargo
        // 'pass' is a function to call to continue to next stop
        // 'fail' throws error and grounds flight
        // 'cargo' is a cached object that shares data between stops,flights, layovers
        //    and gives you access to your websites window object and the page HTML
        //    wrapped in jQuery. You can use 'cargo' to pass data between
        //    flights, stops or layovers :)
        flythru.addFlight("Login")
        .addStop("Enter Credentials - admin/pass123", function(pass,fail,cargo){
           if(cargo.html.find('[name="username"]').typeIn("admin").length > 0
               && cargo.html.find('[name="password"]').typeIn("pass123").length > 0){
               pass();
           }else{
               fail('Unable to fill in credentials');
           }
        })
        .addStop("Click login",function(pass,fail,cargo){
            var found = cargo.html.find('button:contains("Login")')
            if(found.length) { found.click(); pass(); }
            else { fail("No login button found"); }
        }).
        layover("Records ready?",function(pass,fail,cargo){
            var found = cargo.html.find('.contacts-table');
            if(found.length && found.is(":visible")){
                pass();
            }
        });

        // edit
        flythru.addFlight("Find and Edit Ted")
        .addStop("Search for Ted",function(pass,fail,cargo){
            cargo.passenger = {
                fname: "Ted", lname: "Schmity"
            }
            var found = cargo.html.find("[ng-model='searchParam']");
            if(found.length){
                found.typeIn(cargo.passenger.fname); pass();
            }else{
                fail("Could not find search box!");
            }
        })
        .layover("Is Ted there?",function(pass,fail,cargo){
            var found = cargo.html.find('.contacts-table td:contains("'+cargo.passenger.fname+'")');
            if(found.length){
                cargo.ele = found; pass();
            }
        },5000)
        .addStop("Click the Ted row", function(pass,fail,cargo){
            cargo.ele.click(); pass();
        })
        .layover("Wait for Ted's details", function(pass,fail,cargo){
            var foundLabel = cargo.html.find('.detail-pane label:contains("Name:")');
            if(foundLabel.length){
              var match = foundLabel.parent().text().indexOf(cargo.passenger.fname+" "+cargo.passenger.lname) > 0;
              if(match) pass();
            }
        },5000)
        .layover(2000) //  wait so you can read the details, for effect only
        .addStop("Close the details", function(pass,fail,cargo){
            var found = cargo.html.find('.detail-pane footer button');
            if(found.length){
                found.click();
                (!found.is(":visible"))?pass():fail('Details did not close!');
            }
        });

        // logout
        flythru.addFlight("Logout")
        .layover(1000)
        .addStop("Click the logout button",function(pass,fail,cargo){
            var found = cargo.html.find("[ng-click='logout()']");
            if(found.length){
                found.click(); pass();
            }else{
                fail("No logout button found!");
            }
        })
        .layover("Are we at login screen?",function(pass,fail,cargo){
            var found = cargo.html.find('[name="username"]');
            if(found.length && found.is(":visible")) pass();
        },4000);
              </code></pre>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Tab panes end -->
              </div>
           </div>
         </div>
      </article>
      <!-- /demo -->
      <hr>
      <!-- api -->
      <article class="row">
            <div class="col-sm-12" style="padding-bottom: 15px;">
                <h1 id="api">API</h1>
                <p>Here you will find the references for the latest version of flythru.js.</p>


                <section class="row">
                 <div class="col-sm-12">
                    <h2>flythru.config</h2>
                    <p>Sets configuration for flythru prior to running any flights or destinations.</p>
                    <code>flythru.config(obj);</code>
                    <h3>Usage and default values</h3>
                 </div>

                  <div class="col-xs-12 col-md-5">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Param</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>viewport</td>
                        <td>object</td>
                        <td>The "h" is an int that sets the height in pixels of the viewport. The "w" is the width in pixels of the viewport.</td>
                      </tr>
                      <tr>
                        <td>zoom</td>
                        <td>int/float</td>
                        <td>Sets the zoom of the viewport using the css attribute scale. Numbers from 0 to 1</td>
                      </tr>
                      <tr>
                        <td>pace</td>
                        <td>int</td>
                        <td>The time between each flight in milliseconds.</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>

                 <div class="col-xs-12 col-md-7 xxs-no-pad ">
                    <pre class="prettyprint lang-js"><code>
    flythru.config({
       viewport: {
            h: 800, w: 900
        },
        zoom: 1,
        pace: 1000
    });
          </code></pre>
                 <p><mark>returns <b><u>flythru</u></b></mark> for chaining</p>
                </div>

              </section>

              <section class="row">
                 <div class="col-sm-12">
                    <h2>flythru.destination</h2>
                    <p>Sets target url for viewport and flights to be run against.
                        <br />
                      <i>Note: At this time all destinations must be same domain where flythru was extracted to, aka your website.</i>
                    </p>


                    <code>flythru.destination(string);</code>
                    <h3>Usage, no default value</h3>
                 </div>

                 <div class="col-xs-12 col-md-5">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Param</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>target page</td>
                        <td>string</td>
                        <td>Required: A resolvable web page running a single page JavaScript application that all flights will be on.</td>
                      </tr>

                    </tbody>
                  </table>
                </div>

                 <div class="col-xs-12 col-md-7 xxs-no-pad ">
                    <pre class="prettyprint lang-js"><code>
  flythru.destination("../index.html");
          </code></pre>
                  <p><mark>returns <b><u>flythru</u></b></mark> for chaining</p>
                </div>
            </section>


            <section class="row">
                 <div class="col-sm-12">
                    <h2>flythru.addFlight</h2>
                    <p>Creates a new flight that contains stops and layovers.
                        <br />
                    </p>


                    <code>flythru.addFlight(string);</code>
                    <h3>Usage, no default value</h3>
                 </div>

                 <div class="col-xs-12 col-md-5">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Param</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>name</td>
                        <td>string</td>
                        <td>Required: The flight name, it will display as a flight header grouping the stops and layovers in the flight control panel.</td>
                      </tr>

                    </tbody>
                  </table>
                </div>

                 <div class="col-xs-12 col-md-7 xxs-no-pad ">
                    <pre class="prettyprint lang-js"><code>
  flythru.addFlight("My Grouping");
          </code></pre>
                  <p><mark>returns <b><u>flight</u></b></mark> for chaining</p>
                </div>
            </section>

            <section class="row">
                 <div class="col-sm-12">
                    <h2><i>Flight</i>.addStop</h2>
                    <p>Creates a new stop in a flight where a check can be made to pass to go to the next stop, or fail and ground the flight.
                        <br />
                    </p>


                    <code><i>Flight</i>.addStop(stopName, flightCallback);</code>
                    <h3>Usage, no default value</h3>
                 </div>

                 <div class="col-xs-12 col-md-5">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Param</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>name</td>
                        <td>string</td>
                        <td>Required: The stop name, it will display as the stop below the flight header in order of addition.</td>
                      </tr>
                      <tr>
                        <td>flightCallback</td>
                        <td>function</td>
                        <td>Required: A callback function that controls your logic whether to pass or fail this stop.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                 <div class="col-xs-12 col-md-7 xxs-no-pad ">
                    <pre class="prettyprint lang-js xxs-hidden"><code>
  /*Flight*/.addStop("My Stop",function(pass,fail,cargo)
  {
    // (true)?pass():fail();
  });
        </code></pre>
        <pre class="prettyprint lang-js xxs-visible"><code>
    /*Flight*/.addStop("My Stop",
      function(pass,fail,cargo){
        // (true)?pass():fail();
    });

</code></pre>
                  <p><mark>returns <b><u>flight</u></b></mark> for chaining</p>
                </div>
            </section>


            <section class="row">
                 <div class="col-sm-12">
                    <h2><i>Flight</i>.addLayover <small>overload 1</small></h2>
                    <p>Creates a new layover which halts the flight for a specified time and continues by automatically calling pass after time elapses.<br />
                    </p>


                    <code><i>Flight</i>.addLayover(ms);</code>
                    <h3>Usage, no default value</h3>
                 </div>

                 <div class="col-xs-12 col-md-5">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Param</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>ms</td>
                        <td>int</td>
                        <td>Required: Time in milliseconds for flight to be halted, then pass is called.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                 <div class="col-xs-12 col-md-7 xxs-no-pad ">
                    <pre class="prettyprint lang-js"><code>
  /*Flight*/.addLayover(1000);
        </code></pre>
                  <p><mark>returns <b><u>flight</u></b></mark> for chaining</p>
                </div>
            </section>

            <section class="row">
                 <div class="col-sm-12">
                    <h2><i>Flight</i>.addLayover <small>overload 2</small></h2>
                    <p>Creates a new stop but is also a layover! This halts the flight and will call the flightCallback every 1 second until pass() or fail() is called.
                      If neither pass or fail is called prior to the ms time specified, then fail is automatically called and the flight fails and is halted.<br />
                    </p>


                    <code><i>Flight</i>.addLayover(layoverName,flightCallback,ms);</code>
                    <h3>Usage, no default value</h3>
                 </div>

                 <div class="col-xs-12 col-md-5">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Param</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>name</td>
                        <td>string</td>
                        <td>Required: The stop name, it will display as the stop below the flight header in order of addition.</td>
                      </tr>
                      <tr>
                        <td>flightCallback</td>
                        <td>function</td>
                        <td>Required: A callback function that controls your logic whether to pass or fail this stop.</td>
                      </tr>
                       <tr>
                        <td>ms</td>
                        <td>int</td>
                        <td>Required: Time in milliseconds for flight to be halted.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                 <div class="col-xs-12 col-md-7 xxs-no-pad ">
                    <pre class="prettyprint lang-js xxs-hidden"><code>
  /*Flight*/.addLayover(":)", function(pass,fail,cargo)
  {
    // (true)?pass():fail();
  },8000);
        </code></pre>
          <pre class="prettyprint lang-js xxs-visible"><code>
    /*Flight*/.addLayover(":)",
      function(pass,fail,cargo){
        // (true)?pass():fail();
    },8000);
    </code></pre>
                  <p><mark>returns <b><u>flight</u></b></mark> for chaining</p>
                </div>
            </section>

          </div>
      </article>
      <!-- /api -->
      <hr>
      <footer>
        <p>&copy; Var Nerd, LLC</p>
      </footer>
    </div> <!-- /container -->


<!-- Modal -->
<div class="modal fade" id="modal_github" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Let's work together!</h4>
      </div>
      <div class="modal-body">
        <p>We are working on making this public!</p>
        <p>Stick around!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="assets/google-code-prettify/prettify.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>prettyPrint();</script>
    <script>
      $(function() {
        $('a').click(function() {
          var href = $(this).attr("href");
          if(href && $(this).hasClass('scroll-to')){
            $('html, body').animate({
              scrollTop: $(href).offset().top - 65
            }, 500);
            //document.location.hash = href;
            return false;
          }
        });
      });

    </script>
  </body>
</html>
