<div style="padding-top: 100px;">
  <section class="center-box">
    <div class="message" style="color: red">{{message}}</div>
    <form autocomplete="off" ng-hide="loading">
      <div>
        <label>Username:</label><input type="text" name="_username" ng-model="username" autocomplete="new-password" />
      </div>
      <div>
        <label>Password:</label><input type="password" name="_password" ng-model="password" autocomplete="new-password" />
      </div>
      <div style="text-align: right;">
        <button ng-click="login()" >Login</button>
      </div>
    </form>
    <div ng-show="loading"
      style="padding: 45px; text-align: center; font-weight: bold; font-size: 20px;">
      Loading....      
    </div>
  </section>
</div>
